.main-nav__toggle--wrapper,
.body__page-header--wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  // @media (min-width: @tablet-width) {
  //   width: 768px;
  //   padding: 0;
  // }
}

.page-header__image--wrapper {
  .container();

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.body__page-header {
  .main-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
}

.page-header__image--wrapper {
  position: relative;
  margin-top: -35px;

  &::before {
    position: absolute;
    content: url("../img/icons/intro.svg");
    width: 282px;
    height: max-content;
    left: -33px;
    top: 0px;
    transform: scale(0.6);

    @media (min-width: @tablet-width) {
      left: 153px;
      margin-top: 77px;
      transform: scale(1);
    }
  }

  &::after {
    position: absolute;
    left: -440px;
    bottom: 0;
    content: url("../img/icons/intro_triangle.svg");
    width: 1200px;
    height: 57px;
    z-index: 100;

    @media (min-width: @tablet-width) {
      left: -217px;
      bottom: 0;
      transform: scale(1);
    }
  }
}

.page-header__image {
  display: block;
  background-color: @basic-blue-smooth;
  height: 389px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
      height: 518px;
  }
}

.page-header__image--triangle {
  left: 160px;
  bottom: 0;
  position: absolute;
  background-image: url("../img/icons/intro_triangle.svg");
  background-repeat: no-repeat;
  width: 600px;
  height: 57px;

   @media (min-width: @tablet-width) {
    right: -160px;
    bottom: 10px;
  }
}

.page-header__link {
  display: flex;
  justify-content: center;
  margin-top: -56px;

  img {
    z-index: 3;
  }
}
