.video-content__cast-box {
  background-color: @basic-white;
  display: flex;
  flex-direction: column;

  .controls {
    width: 280px;
  }
}

.cast-box__controls {
  background-color: @basic-black;
  display: flex;
  position: relative;
  height: 45px;

  opacity: 0.6;

  .background {
    margin-top: 20px;
    margin-left: 22px;
  }

  .toggle {
    position: absolute;
    top: 15px;
    left: 65px;
  }
}

.controls__background {
  display: flex;
  width: 235px;
  height: 3px;
  background-color: @basic-white;
  opacity: 0.2;
}

.controls__toggle {
  background-color: @basic-white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
