// Секция контент. Стили
// Секция контент. Геометрия
.main__content--wrapper {

  .container();
}
// Шапка контента. Геометрия
.content__main-header {
  text-align: center;
  padding: 12px 17px 5px 17px;
}
// Заголовок В хэдере. Стили
.content__main-header .tagline {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
// Текст в хэдере. Стили
.content__main-header .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
