.map__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  display: flex;
  flex: 0 1 auto;
  overflow: hidden;
  height: 350px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 0;
  }
}
//   .map {
//     width: 320px;
//     height: 350px;
//
//     @media (min-width: @tablet-width) {
//     width: 100%;
//     }
//   }

// .map__image {
//   background-color: @basic-blue-ocean;
//   object-fit: cover;
//   display: block;
// }

.map__iframe {
    // position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
