// Секция контент. Стили

// Секция контент. Геометрия
.main__content--wrapper {

  .container();
}
// Шапка контента. Стили
.main__content .header {
  background-color: @basic-grey;
}
// Шапка контента. Геометрия
.content__main-header {
  background-color: @basic-blue-ocean;
}

// Заголовок контета. Стили
.content__main-header .tagline {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
// Заголовок контета. Геометрия

.content__main-header .text {
  font-size: 12px;
  line-height: 26px;
}
