.map__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  // @media (min-width: @tablet-width) {
  //   min-width: 768px;
  //   padding: 0;
  // }
}

.map__wrapper .background {
  background-color: @basic-silver;
}

.map__image {
  // display: block;
  background-color: @basic-blue-ocean;
  min-width: 320px;
  height: 350px;
  object-fit: cover;

  // @media (min-width: @tablet-width) {
  //   min-width: 768px;
  // }
}
