.page__body--inner {
  .content__main-header--wrapper {
    &::before {
      display: none;
    }
  }
}

.content__main-header--wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
    padding: 0 60px;
  }

  &::before {
  content: url("../img/icons/intro_arrow.svg");
  position: absolute;
  bottom: -37px;
  left: 0px;
  width: 320px;
  height: 37px;
  z-index: 100;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  .lead-paragraph {
    margin-top: 30px;
    text-align: center;

    @media (min-width: @tablet-width) {
      display: inline-block;
      padding: 0 50px;
      margin-top: 44px;
    }
  }

  .text {
    text-align: center;
    margin-top: 9px;
    // white-space: break-word;

    @media (min-width: @tablet-width) {
      margin-top: px;
    }
  }
}

.main__content {
  .main-header {
    width: 320px;
    padding: 0;
    margin: 0 auto;

      @media (min-width: @tablet-width) {
        width: 768px;
      }

      @media (min-width: @desktop-width) {
        width: 1200px;
      }
  }
}

.content__main-header {
  background-color: @basic-white;
}

.main-header__lead-paragraph {
  font-weight: bold;
  font-size: @baseFontSize;
  line-height: @baseLineHeight + 1;

  @media (min-width: @tablet-width) {
    font-size: @baseFontSize + 3;
  }
}

.main-header__text {
  font-size: 14px;
  line-height: @baseLineHeight;
}
