.main__content {
  .main-header {
    margin-bottom: 30px;
  }
}

.content__main-header {
  text-align: center;
  padding: 12px 17px 5px 17px;
  position: relative;

  .content__main-header--triangle {
    position: absolute;
    left: -3px;
    bottom: -50px;
    width: 384px;
    height: 37px;
    background-image: url("../img/icons/intro_triangle.svg");
    background-repeat: no-repeat;
    z-index: 100;
  }

  .content__main-header--triangle-rotated {
    position: absolute;
    right: -1px;
    bottom: -50px;
    width: 384px;
    height: 37px;
    background-image: url("../img/icons/intro_triangle.svg");
    background-repeat: no-repeat;
    z-index: 100;
    transform: rotateY(180deg);
  }

  .main-header__tagline {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  .main-header__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }

  .text {
    text-align: center;
  }
}
