.features__sub-list {
  display: flex;
  flex-direction: column;
}

.sub-list__pseudo-icon {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;
    width: 39px;
    height: 36px;
    z-index: 100;
  }

.sub-list__item:first-child {
  .sub-list__wrapper {
    position: relative;

    &::before {
      background-image: url("../img/icons/features_home.svg");
      top: 25px;
      left: -47px;
      .sub-list__pseudo-icon();

      @media (min-width: @tablet-width) {
        background-image: url("../img/icons/features_home@1x.svg");
        width: 75px;
        height: 72px;
        top: -75px;
        left: 90px;
      }
    }
  }
}

.sub-list__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    order: 3;
  }
  .sub-list__wrapper {
    position: relative;

    &::before {
      background-image: url("../img/icons/features_present.svg");
      top: 15px;
      left: -42px;

      .sub-list__pseudo-icon();

      @media (min-width: @tablet-width) {
        background-image: url("../img/icons/features_present@1x.svg");
        width: 64px;
        height: 72px;
        top: -79px;
        left: 95px;
      }
    }
  }
}

.sub-list__item:last-child {
  @media (min-width: @tablet-width) {
    order: 2;
  }

  .sub-list__wrapper {
    position: relative;

    &::before {
      background-image: url("../img/icons/features_burger.svg");
      top: 22px;
      left: -49px;

      .sub-list__pseudo-icon();

      @media (min-width: @tablet-width) {
        background-image: url("../img/icons/features_burger@1x.svg");
        width: 76px;
        height: 67px;
        top: -72px;
        left: 88px;
      }
    }
  }
}

.sub-list {
  display: flex;
  flex-direction: column;
  padding: 0;

  .clear-list();

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.sub-list__wrapper {
  width: 70%;
  margin-left: 68px;

  @media (min-width: @tablet-width) {
    width: 256px;
    margin: 135px 0 59px 0;
  }
}

.features__sub-list {
  background-color: @basic-white;
  color: @basic-black;

  .lead-paragraph,
  .text {
    display: block;
    position: relative;
    text-align: left;
    margin: 0;
  }

  .lead-paragraph {
    padding: 37px 0 0 0;
    margin-left: 2px;

    @media (min-width: @tablet-width) {
      padding: 25px 0 0 0;
      margin: 0 0 0 95px;
    }
  }

  .text {
    padding: 18px 0 0 0;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding: 25px 0 0 2px;
      margin: 0 10px 0 10px;
    }
  }

  .sub-list__lead-paragraph--align-second {
    padding: 29px 0 0 0;
    margin-left: 2px;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding: 25px 0 0 0;
      margin: 0;
    }
  }

  .sub-list__text--align-second {
    padding: 16px 0 0 0;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding: 24px 0 0 0;
      margin: 0;
    }
  }

  .sub-list__lead-paragraph--align-third {
    padding: 29px 0 0 0;
    margin: 0;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding: 25px 0 0 0;
      margin: 0;
    }
  }

  .sub-list__text--align-third {
    padding: 17px 0 0 0;
    margin-left: 2px;
    margin-bottom: 36px;

    @media (min-width: @tablet-width) {
      padding: 26px 20px 0 20px;
      margin: 0;
    }
  }
}

.sub-list__lead-paragraph {
  font-weight: bold;
  font-size: @baseFontSize;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    font-size: @baseFontSize + 3;
  }
}

.sub-list__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
