.sub-list-pseudo-icon {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  width: 39px;
  height: 36px;
  top: 23px;
  left: -45px;
  z-index: 100;
}

.sub-list__item:first-child {
  .sub-list__wrapper {
    position: relative;

    &::before {
      background-image: url("../img/icons/features_home.svg");

      .sub-list-pseudo-icon();
    }
  }
}

.sub-list__item:nth-child(2) {
  .sub-list__wrapper {
    position: relative;

    &::before {
      background-image: url("../img/icons/features_present.svg");

      .sub-list-pseudo-icon();
    }
  }
}

.sub-list__item:last-child {
  .sub-list__wrapper {
    position: relative;

    &::before {
      background-image: url("../img/icons/features_burger.svg");

      .sub-list-pseudo-icon();
    }
  }
}

.sub-list__wrapper {
  width: 70%;
  margin-left: 25%;
  padding: 10% 0;
}

.sub-list {
  display: flex;
  flex-direction: column;
  padding: 0;

  .clear-list();

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.features__sub-list {
  background-color: @basic-white;
  color: @basic-black;

  .sub-list__lead-paragraph {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}

.sub-item_align_left {
  text-align: left;
  margin: 0;
  padding: 0;
}

.sub-list__lead-paragraph,
.sub-list__text {
  position: relative;

  .sub-item_align_left;
}
