// Список преимуществ. Стили
.content__features .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .clear-list();
}
// Список преимуществ. Геометрия

// Пункты списка. Стили
.features__list .item {

  .marine-style();

  .features__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }
  .features__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}

// Миксин для нижнего ряда преимуществ
  .rows {
  background-color: @basic-milk;
  color: @basic-black;
  }

  .row_lines {
  background-color: @basic-grey;
  }

  .row_lines_pos {
    width: 280px;
  height: 1px;
  display: block;
  content: '';
  margin-left: 5px;
  }
// Нижний ряд списка с серым фоном. стили
.features__list li:nth-child(3) {
  .rows;
  &:after {
    .row_lines;
  }
  &:after {
    .row_lines_pos;
  }
}

.features__list li:nth-child(4) {
  .rows;
  &:after {
    .row_lines;
  }
  &:after {
    .row_lines_pos;
  }
}

.features__list li:nth-child(5) {
  .rows;
  &:after {
    .row_lines;
  }
  &:after {
    .row_lines_pos;
  }
}
