// Список преимуществ. Геометрия
.content__features .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
// Убирает булеты у списка
.features__list {
  counter-reset: li 0;
  .clear-list();
}
