// Список преимуществ. Геометрия
.content__features .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
// Пункты списка. Геометрия
// Миксин для нижнего ряда в списке преимуществ
.rows {
  background-color: @basic-milk;
  color: @basic-black;
}

.row_lines {
  background-color: @basic-grey;
}

.row_lines_pos {
  display: block;
  width: 280px;
  height: 1px;
  content: "";
  margin-left: 5px;
}
// Список преимуществ. Стили
// Нижний ряд списка с серым фоном. стили
.features__list {

  .clear-list();
}

.features__list .features__item--row {
  .rows;

  &::after {
    .row_lines();
    .row_lines_pos();
  }
}
// Пункты списка. Стили
.features__item {

  .marine-style();

  .features__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  .features__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}
// Задний фон для картинки.
// Преимущество №1
// Задний фон для картинки. Геометрия
.features__item .image {
  display: block;
  width: 300px;
  height: 260px;
}
// Задний фон для картинки. Стили
.features__image {
  background-color: @basic-green-navy;
}
