.content__features--wrapper {
  width: 320px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }
}

.features__item--wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.features__list {
  .title {
    margin: 40px 0;
  }
}

.features__title {
  font-weight: bold;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

.features__list > li {
  position: relative;

  &::before {
    counter-increment: li;
    content: "- " "№" counter(li) " -";
    position: absolute;
    top: 79px;
    left: 130px;
  }
}

.features__item--row:not(:last-child) {
  background-color: @basic-milk;
  color: @basic-black;

  .row_lines_pos {
    display: block;
    width: 280px;
    height: 1px;
    content: "";
    margin: 0 auto;
  }

  &::after {
    background-color: @basic-grey;
    .row_lines_pos();

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.features__item--row:last-child {
  background-color: @basic-milk;
  color: @basic-black;
}

.features__item {

  .marine-style();

  .features__text {
    font-size: 14px;
    line-height: 21px;
  }
}

.features__item > .text {
  padding: 22px 10px;
}

.features__image {
  display: block;
  width: 100%;
  height: 256px;
  background-color: @basic-green-navy;
}

@media (min-width: @tablet-width) {

  .features__item--wrapper-content {
    display: flex;
    flex-direction: row;
  }

  .features__item--row {
    display: flex;
    flex-direction: column;
  }
}

// Гридовая разметка
.content__features {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    counter-reset: li 0;

    .clear-list();

    @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: @tablet-width) {
  .features__list {
    & > li:first-child {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    & > li:nth-child(2) {
      display: flex;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    & > li:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    & > li:nth-child(4) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    & > li:last-child {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }
}
