.fieldset__intro--wrapper {
  .container();

  // @media (min-width: @tablet-width) {
  //   box-sizing: border-box;
  //   width: 768px;
  //   padding: 0 60px;
  //   margin: 0 auto;
  // }
}

.fieldset__intro {
  .input {
    padding: 0 0 0 10px;
  }
}

.fieldset__title {
  font-weight: bold;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

.fieldset__label {
  font-size: @baseFontSize - 4;
  line-height: @baseLineHeight;
}

.fieldset__input {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: bold;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  background-color: @basic-milk-light;
  color: @basic-black;
  border: 0;
}

.fieldset .title {
  text-align: center;
}

.fieldset__content-block--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.fieldset__intro label {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fieldset__intro span {
  padding: 13px 10px 13px 0;
  align-self: center;
}

.fieldset__input--size {
  width: 192px;
}

.fieldset__input--size-long {
  flex-grow: 1;
}

.fieldset__input::placeholder {
  padding: 0 0 0 22px;
  color: @basic-black;
}
