.fieldset__intro--wrapper {
  .container();

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0;
    margin: 0;
    order: 2;
  }
}

.fieldset__intro {
  display: flex;
  flex-direction: column;

  .input {
    padding: 0 0 0 10px;
  }
}

.fieldset__title {
  font-weight: bold;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

.fieldset__label {
  font-size: @baseFontSize - 4;
  line-height: @baseLineHeight;
}

.fieldset__input {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: bold;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  background-color: @basic-milk-light;
  color: @basic-black;
  border: 0;
}

@media (min-width: @tablet-width) {
  .fieldset__content-block--wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    margin-bottom: 10px;
  }
}

.fieldset__intro {
  .title {
    text-align: center;
  }

  label {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  span {
    padding: 13px 10px 13px 0;
    align-self: center;
  }
}

.fieldset__input--size {
  width: 100%;
}

.fieldset__input--size-long {
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
  }
}

.fieldset__input::placeholder {
  padding: 0 0 0 22px;
  color: @basic-black;
}
