.fieldset__radio-buttons--wrapper {
  .container();

  // @media (min-width: @tablet-width) {
  //   box-sizing: border-box;
  //   width: 768px;
  //   padding: 0 60px;
  //   margin: 0 auto;
  // }
}

.radio-buttons__list {
  display: flex;
  flex-direction: column;

  .clear-list();

  .item {
    display: flex;
    position: relative;
    margin-left: 25px;
    margin-bottom: 10px;
  }

  .label {
    padding-top: 10px;
    order: 3;
  }

  .span {
    margin-right: 10px;
  }
}

.radio-buttons__input {

  .visually-hidden();

  & + .radio-buttons__span {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: @basic-milk-sand;
    box-sizing: border-box;
  }
}

.radio-buttons__input:checked {
  & + .radio-buttons__span--radio-on {
    background-color: @basic-black-light;
    border: 12px solid @basic-milk-sand;
  }
}
