// Копирайт. Геометрия
.footer__copyright {
  display: flex;
  margin: 20px 0 20px 0;

  .link {
    display: block;
    width: 27px;
    height: 34px;
  }
}
// "Разработано". Стили
.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.copyright__logo path {
  fill: @basic-black;
}

.copyright__link .logo {
  margin: 13px 0 0 0;
}
