// Элемент "Хэштег". Геометрия
.footer__wrapper .link {
  display: flex;
  margin: 25px 0 0 0;

  .link-decoration();
}
// Элемент "Хэштег". Стили
.footer__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @basic-black;
}
