.footer__content {
  .socials {
    margin-top: 25px;
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;

  .clear-list();
}

.socials__item {
  .link {
    width: 46px;
    height: 48px;
    margin-left: 6px;
  }
}

.socials__link {
  background-color: @basic-blue-smooth;
  display: flex;
  justify-content: center;
}
