// Элемент "Хэштег". Геометрия
.footer__content {
  .link {

    .link-decoration();
  }
}
// Элемент "Хэштег". Стили
.content__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @basic-black;
}
