// Обертка подвала
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container();
}
// Элемент "Хэштег" стили
.footer__wrapper .link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @basic-black;

  .link-decoration();
}
// Геометрия
.footer__link {
  display: flex;
  margin-top: 20px;
}
// "Соцсети". Стили
.footer__socials .list {

  .clear-list();

  .link {
    background-color: @basic-blue-smooth;
  }
}
// "Соцсети" Геометрия
.socials__list {
  display: flex;
  justify-content: space-between;
  width: 126px;
  margin-top: 20px;
}

// Иконки. Стили
.socials__item .link {
  display: flex;
  width: 46px;
  height: 48px;
}

// Иконки. Геометрия

// Копирайт
.main__footer .copyright {

}
.footer__copyright {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: 5px solid @basic-blue-smooth;
  outline-offset: -5px;

}
