// Обертка списка соцсетей. Геометрия
.footer__socials {
  margin-top: 33px;
}
// Список "Соцсети". Стили
.socials__list {

  .clear-list();
}
// Список "Соцсети". Геометрия
.footer__socials .list {
  display: flex;
}
// Иконки. Элемент списка. Геометрия
.socials__item .link {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: 0 6px 0 0;
}
// Иконки. Элемент списка. Стили
.socials__link {
  background-color: @basic-blue-smooth;
}
