.footer__content {
  .socials {
    margin-top: 35px;
    margin-left: 5px;
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;

  .clear-list();
}

.socials__item {
  .link {
    width: 46px;
    height: 48px;
    margin-right: 6px;
  }
}

.socials__link {
  background-color: @basic-blue-smooth;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: @basic-blue-light-marine;
  }
}

.socials__icon  {
  &:active {
    opacity: 0.3;
  }
}
