//Элемент fieldset блока form
.fieldset__intro--rows,
.fieldset__contact-info--rows,
.fieldset__radio-buttons--rows,
.fieldset__check--rows,
.fieldset__textarea--rows {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @basic-milk-fog;
}

.fieldset__intro--rows {
    border-top: 1px solid @basic-milk-fog;
}
