.content__form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}

.content__form {
  padding: 0;
  margin: 0;
}

.form__fieldset--wrapper {
  padding: 0;
  margin: 0;;
  // @media (min-width: @tablet-width) {
  //   box-sizing: border-box;
  //   width: 768px;
  //   padding: 0 60px;
  //   margin: 0 auto;
  // }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
}

.fieldset__intro--rows {
  box-sizing: border-box;
  border-top: 1px solid @basic-milk-fog;
}

.fieldset__intro--rows,
.fieldset__contact-info--rows,
.fieldset__radio-buttons--rows,
.fieldset__checkbox-list--rows {
  border-bottom: 1px solid @basic-milk-fog;
}
