.gallery__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "main main"
                          "two three"
                          "four five";
  }

  .clear-list();

  .item {
    margin: 10px auto;
  }

  .header {
    margin-bottom: 20px;
  }
}
