.gallery__header {
  box-sizing: border-box;

  .title {
    padding: 0;
    margin: 17px 0 0 0;
  }

  .text {
    padding: 0;
    margin: 5px 0 0 0;
  }

  .button {
    padding: 0;
    margin-right: 10px;
  }

  .button__span {
    margin-top: 10px;
  }
}

.header__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.header__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.header__span {
  display: block;

  .header__title();
}

.header__button {
  background-color: transparent;
  border: 0;
}

.button__span {
  display: flex;
}
