.main__location {
  .header {
    width: 320px;
    padding: 0;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 768px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }
}

.location__header--wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  .lead-paragraph {
    text-align: center;
    margin-top: 33px;

    @media (min-width: @tablet-width) {
      margin-top: 55px;
    }
  }


  .text {
    text-align: center;
    padding: 0;
    margin: 0;

    @media (min-width: @tablet-width) {
      text-align: center;
      padding-top: 5px;
    }
  }

  .span-text {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }
}

.location__header {
  background-color: @basic-white;
  display: flex;
  flex-direction: column;
}

.location__lead-paragraph {
  font-weight: bold;
  font-size: @baseFontSize + 3;
  line-height: @baseLineHeight;

  @media (min-width: @tablet-width) {
    font-size: @baseFontSize + 12;
  }
}

.location__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
