// Обертка для секции location
.location__header--wrapper {

  .container();
}
// Хэдэр. Стили
.location__header {
  .lead-paragraph {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}
// Текст. Геометрия
.location__lead-paragraph,
.location__text {
  text-align: center;
}
// Ссылка на гостиницы. Стили
.location__header .link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  .link-decoration();
  .marine-style();
}

.location__link {
  display: block;
  text-align: center;
  padding: 15px 32px;
  margin-bottom: 25px;
}
