// Ссылка. Стили
.location__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  .link-decoration();
  .marine-style();
}
// Ссылка. Геометрия
.location__header {
  .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0 17px 0;
    margin-top: 28px;
    margin-bottom: 50px;
    z-index: 100;

    @media (min-width: @tablet-width) {
      width: 458px;
      padding: 15px 0 17px 0;
      margin: 38px auto 58px;
    }

    &:hover {
      background-color: @basic-blue-light-marine;
    }

    &:active {
      background-color: @basic-blue-marine;
      color: fade(@basic-white, 30%);
    }
  }
}

.location__link--disabled {
  background-color: @basic-blue-marine;
  color: fade(@basic-milk-fog, 30%);
}
