
.location__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  .link-decoration();
  .marine-style();
}

.location__header .link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}
