.main__location {
  .header {
    width: 320px;
    padding: 0;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 768px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }
}

.location__header--wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  .lead-paragraph,
  .text {
    text-align: center;
    margin-top: 50px;
  }

  .text {
    padding: 0 15px 0 15px;
  }

  .link {
    margin-bottom: 30px;

    &:hover {
      background-color: @basic-blue-light-marine;
    }

    &:active {
      background-color: @basic-blue-marine;
      color: fade(@basic-white, 30%);
    }
  }
}

.location__link--disabled {
  background-color: @basic-blue-marine;
  color: fade(@basic-milk-fog, 30%);
}

.location__header {
  background-color: @basic-white;
  display: flex;
  flex-direction: column;
}

.location__lead-paragraph {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.location__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
