// Главное меню. Геометрия
.main-nav {
  .list {
    display: flex;
    flex-direction: column;
  }

  .main-nav__list {
    position: relative;
    background-color: @basic-blue-smooth;

    .clear-list();
    // Крестик закрывает список
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 4px;
      background-color: @basic-white;
      transform: rotate(-45deg);
      margin-top: 20px;
      margin-right: 10px;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 4px;
      background-color: @basic-white;
      transform: rotate(45deg);
      margin-top: 20px;
      margin-right: 10px;
    }
  }
}
// Главное меню. Ссылка. Стили
.main-nav__item {
  .link {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  // Главное меню. Ссылка. Геометрия
  .main-nav__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color: @basic-white;
    border-top: 1px solid lighten(@basic-blue-smooth, 5);
    border-bottom: 1px solid darken(@basic-blue-smooth, 5);

    .link-decoration();

    &:hover {
      background-color: darken(@basic-blue-smooth, 15);
    }
  }
  // Главное меню. Активная ссылка. Стили
  .main-nav__link--current {
    color: @basic-black-light;
  }
}
// Обертка кнопка пользовательского меню.
.main-nav__toggle--wrapper {
  display: flex;
  justify-content: flex-end;
  order: 2;
}
// Кнопка главного меню
.toggle {
  margin: 10px;
  padding: 5px;
}

.button-size-menu {
  width: 23px;
  height: 22px;
}

.main-nav__toggle {
  background-color: transparent;
  background-image: url("../img/icons/toggle.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
// Главное меню. Ссылка. Стили
.main-nav__item {
  .link {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  // Главное меню. Ссылка. Геометрия
  .main-nav__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color: @basic-white;
    border-top: 1px solid lighten(@basic-blue-smooth, 5);
    border-bottom: 1px solid darken(@basic-blue-smooth, 5);

    .link-decoration();

    &:hover {
      background-color: darken(@basic-blue-smooth, 15);
    }
  }
  // Главное меню. Активная ссылка. Стили
  .main-nav__link--current {
    color: @basic-black-light;
  }
}
