// Главное меню. Ссылка. Стили
.main-nav__item .link {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: @basic-white;

  .link-decoration();
}
// Пункт списка. Стили
.main-nav__item {
  border-bottom: inset 0 1px 0 0 rbga(@basic-black, 0.2);
}
// Главное меню. Ссылка. Геометрия
.main-nav__link {
  margin: 0;
  padding: 10px;
}
// Главное меню. Активная ссылка. Стили
.main-nav__link--current {
  color: @basic-black-light;
}
