// Главное меню. Геометрия
.main-nav {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: fit-content;
  }

  .main-nav__list {
    background-color: @basic-blue-smooth;

    .clear-list();
  }
}
// Главное меню. Стили
