.body__page-header--wrapper {

  .container();

  .main-nav {
    display: flex;
    flex-direction: column;
  }
}
// Обертка для логотипа и кнопки выхода
.toggle__logo--wrapper {
  display: flex;
  flex-direction: row;
}
