// Обертка шапки страницы
.body__page-header--wrapper {

  .container();

  .main-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
}
// Картина шапки. Геометрия
.page-header__image--wrapper {
  position: relative;
  margin-top: -35px;

  &::before {
    content: url("../img/icons/intro.svg");
    position: absolute;
    width: 300px;
    height: max-content;
    z-index: 3;
    margin-top: 65px;
    margin-left: 5px;
  }
}
// Фоновая картинка в под главным меню
.page-header__image {
  background-color: @basic-blue-smooth;
}

.image {
  display: block;
  width: 300px;
  height: 389px;
  z-index: 0;
}

.page-header__image--triangle {
  left: 132px;
  bottom: -2px;
  position: absolute;
  background-image: url("../img/icons/header_triangle.svg");
  background-repeat: no-repeat;
  z-index: 5;
  width: 600px;
  height: 57px;
}
// Декоративное обрамление фоновой картинки
.page-header__image--triangle-rotated {
  right: 132px;
  bottom: -2px;
  position: absolute;
  background-image: url("../img/icons/header_triangle.svg");
  background-repeat: no-repeat;
  z-index: 5;
  width: 600px;
  height: 57px;
  transform: rotateY(180deg);
}
// Логотип шапки. Геометрия
.page-header__link {
  display: flex;
  justify-content: center;
  margin-top: -42px;

  img {
    z-index: 2;
  }
}
