// Подсписок. Заголовок. Стили
.sub-list__wrapper {
  width: 70%;
  margin-left: 25%;
  padding: 10% 0;
}
// Подсписок. Геометрия
.sub-list {
    display: flex;
    flex-direction: column;
    padding: 0;

  .clear-list();
}
// Подсписок. Пункты. Стили
.features__sub-list {
  background-color: @basic-white;
  color: @basic-black;

  .sub-list__lead-paragraph {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}
// Подсписок. Пункты. Геометрия
.sub-item_align_left {
  text-align: left;
  margin: 0;
  padding: 0;
}

.sub-list__lead-paragraph,
.sub-list__text {
  position: relative;

  .sub-item_align_left;
}
