// Кнопка списка. Стили
.main-nav {

  .main-nav__toggle {
    background-color: transparent;
    border: none;
  }

  // span {
  //   background-image: url("img/icons/toggle.svg");
  //   background-repeat: no-repeat;
  // }

  .toggle {
    align-self: end;
    padding: 5px;
    margin: 0 5px;
    order: 2;
  }
}
