.video-content__header {
  .header__title {
    text-align: center;
  }

  .text {
    text-align: center;
  }
}

.header__title--video-content {
  font-size: @baseFontSize + 3;
}

.header__text--video-content {
  text-transform: inherit;
}
