.video-content__cast-box {
    width: 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  .image {
    margin-top: 30px;
  }

  .controls {
    margin-top: -45px;
  }
}
